

{%extends "base.html" %}
{% block title %}Creer un nouveau Modele{% endblock %}
{% block content %}
<h2>Créer un nouveau Modèle</h2>
    <p>

    {% if envoi %}Votre message a bien été envoyé !{% endif %}

    <form action="{% url "register" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="S'inscrire" />

    </form>

{% endblock %}
