.right{ float:right}
.btn{
    color:white;
    background-color:#0066B2;
}
.btn:hover{
    color:#e0f3ff;
}
.submit{
    background-color:#0066B2;
    /*color:orange;*/
    margin-right:15px;
}
.errorlist {
    color:#ad6055;
    background-color:#f2dede;
    border:1px solid #ad6055;
    border-radius:3px;
}

/* ------------------------------ */
/*          Create Form           */
/* ------------------------------ */
.createForm{}
.createForm h1{
    color:#0066B2;
}
.createForm label{
    width:120px;
}
.createForm .btn {
    color:white;
    background-color:#0066B2;
    min-width:100px;
}
.createForm .btn:hover {
    background-color:lightgrey;
}

/* ------------------------------ */
/*              LIST              */
/* ------------------------------ */
#modeleList{
    padding: 0 5px;
}
#modeleList h3{
    display:inline-block;
    margin-top:5px;
}
#modeleList .btn:hover{
    background-color:#e0f3ff;
    color:#0066B2;
}
#modeleList .btn{
    background-color:#0066B2;
    color:white;
    margin-left:10px;
}
#modeleList li{
    margin: 45px 0;
    padding:0 10px;
    list-style:none;
    border-left: 4px solid #ffb64a;
}
/* ------------------------------ */
/*        AFFICHER MODELE         */
/* ------------------------------ */


.contextes-wrap {
    padding-top:15px;
}
.contextes-wrap h3 {
    margin-top:0;
    padding-bottom:10px;
    display:inline-block
}
.contextes {
    display: flex;
}
.contexte {
    min-height:100%;
    flex:1;
}

.contexte h4 {
    display: inline-block;

}
.contexte input {
    float:right;
}
.contexte p {
    font-size:0.85em;
    font-weight:normal;
}
