
/* ------------------------------ */
/* All the container, body styles */
/* ------------------------------ */
html, body {
  height: 100%;
}
body {
  background-color: lightgrey;
  margin : 0px;
}
#wrap {
    min-height: 100%;
    font-size:1.25em;
    background-color:#e0f3ff;

}

#main {
    overflow:auto;
    padding-bottom:70px; /* this needs to be bigger than footer height*/
    padding-top:60px;
}

.footer {
    position: relative;
    background-color:grey;
    margin-top: -70px; /* negative value of footer height */
    text-align:center;
    height: 70px;
    clear:both;
    padding-top:20px;
    color:#ff9900;
} 

/* ------------------------------ */
/*         default balise         */
/* ------------------------------ */
p {
    text-align:top;
}

/* ------------------------------ */
/*         Navbar styles          */
/* ------------------------------ */
nav {
    color:#ff9900;
    display: block;
    position:fixed;
    top:0;
    height: 60px;
    background-color:#0887db;
    background-color:#0066B2;
    width:100%;
    font-color: white;
    font-size: 0.8em;
}

header {
    display: i nline-block;
    font-size: 1em;
    color:#d88b44;
}
header:hover{
    background-color:black;
}
header a {
    display: inline-block;
}
header h4, header h3 {
    display: inline-block;
    float: left;
    padding-l eft: 15px;
}

#login {
    displa y: inline-block;
    padding: 10px 10px;
    float:right;
    color:white;
    margin: auto ;
}
#login form {
    display : inline-block;
    margin: auto 0;
}
#login form p, #form a {
    display:  inline-block;
    margin: 1px;
}
#login a {
    padding: 15px 15px 15px 0px;
    color:#d88b44;
}
#login .btn {
    background-color:lightgrey;
    color:#0066B2;

}
    

/* ------------------------------ */
/*           ACTION MENU          */
/* ------------------------------ */
#actionmenu {margin-top:25px;}
#actionmenu .panel {border-radius:15px;}
#actionmenu .panel-heading {
    background-color:#0066B2;
    color:white;
    text-align:center;
    padding: 15px ;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}
#actionmenu .panel-body {
    padding:0;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border:3px solid;
    border-color:rgba(255, 153, 0, 0.71);
    border-top:none;
}
#actionmenu .panel li a {
    padding:15px 0;
    text-align:center;
}

/* ------------------------------ */
/*             MEDIA              */
/* ------------------------------ */
@media (min-width: 1200px) {
    #actionmenu {
        position : fixed;
        top : 60px;
        right: 0.5%;
    }

}
/* ------------------------------ */
/*             Content            */
/* ------------------------------ */
#page-content {
    margin:5%;
    background-color:#f8fafc;
    margin:25px auto;
    border:solid 3px lightgrey;
    padding :15px;
    border-radius: 15px;

}

