
body {
    background-color: lightgrey;
    margin : 0px;
}

nav {
    display: block;
    min-height: 40px;
    background-color:darkblue;
    width:100%;
    font-color: white;
    font-size: 2em;
}

header {
    display: inline-block;
    font-size: 1em;
    color: lightblue;
}
header h4, header h3 {
    display: inline-block;
    float: left;
}

#login {
    display: inline-block;
    float:right;
    color:white;
}
#login form p, #form a {
    display: inline-block;
    margin: 1px;

}

#login form { display: inline-block; }
