{%extends "base.html" %}
{% block title %}Ma page d'accueil{% endblock %}
{% block content %}
<h2>Bienvenue !</h2>
<a href="{% url "listeModeles" %}"> Liste de tout les modeles</a>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus 
    massa non tortor. Vestibulum diam diam, posuere in viverra in, 
    ullamcorper et libero. Donec eget libero quis risus congue imperdiet ac  
    amet.
    </p>
{% endblock %}

