
{%extends "base.html" %}
{%block title %}{{modele.nom}}{% endblock %}
{%  block content %}
<h2>{{modele.nom}}<small> created by {{ modele.createur }}</small>
{%if canEdit %}
    <a href="{% url "modele_edit" modele.id %}">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-edit"></span>
            Update model
        </button>
    </a>
{% else %}
    <a href="{% url "modele_request" modele.id %}">
        <button type="button" class="btn">
            <span class="glyphicon glyphicons-user-add">&#xe007
            </span>
            Send access request
        </button>
    </a>
{% endif %}
</h2>

    <h4><b>{{modele.description}}</b></h4>        

    <div class=contextes-wrap>
        <form method="post" action="{% url "compare" %}" class="form-group">{% csrf_token %}
            <h3>Contextes</h3>
                {%if canEdit %}
                    <a href="{% url "createContexteForm" modele.id %}"
                        onclick="window.open(
                        '{% url "createContexteForm" modele.id %}',
                        'popup','width=600,height=750'); 
                        return false;">
                            <button type="button" class="btn">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                Add context
                            </button>
                    </a>
                {% endif %}
             <button type="submit" class="btn right submit" >
                <span class="glyphicon glyphicon-eye-open"></span>
                 Visualize selected context
             </button>


            <div class="contextes">
             {% for c in contextes %}
             <label for={{c.id}} class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                <div class="contexte panel panel-default">
                    <div class="panel-heading">
                        <h4><b>{{c.nom}}</b></h4>
                        <input type="checkbox" id={{ c.pk }} name="contexte" value={{ c.pk }} />
                        {% if canEdit %}
                            <a href="{% url "contexte_edit" c.id %}"
                             onclick="window.open(
                                '{% url 'contexte_edit' c.id %}',
                                'popup','width=600,height=600'); 
                                return false;">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <p> {{c.description}}</p>
                    </div>
                </div>
                </label>

             {% endfor %}
            </div>
     
        </form>
        
    </div>
            
    
    <div class=parametres>
        <h3>Paramètres</h3>
        <table class="table">
     {% for fam in parametres %}
            <tr> 
                <th colspan=5>{{ fam.nom }}
                    {% if canEdit %}
                        <a href="{% url "family_edit" fam.id %}"
                             onclick="window.open(
                                '{% url 'family_edit' fam.id %}',
                                'popup','width=600,height=400'); 
                                return false;">
                                <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    {% endif %}
               
               
                </th>
            </tr>

        {% for v in variables %}
           {% if fam in v.parametre.all %}
            <tr>
                <td>{{v.nom}}</td>
                <td>{{v.type_variable}}</td>
                <td>{{v.description|truncatewords:20}}</td>
                {% if v.type_variable == "LIST" or v.type_variable == "SOLIST" %}
                <td><table class="table">
                <tr></tr>
                    {% for item in listItem.all %}
                    {% if item.variable == v %}
                    <tr><td> {{item.value}}</td><td>{{item.intValue}}</td></tr> 
                    {% endif %}
                    {% endfor %}
                    <tr><td></td><td>
                        {% if canEdit %}
                        <a href="" target="popup" 
                                 onclick="window.open(
                                    '{% url 'addListItem' v.pk %}',
                                    'popup','width=600,height=600'); 
                                    return false;">
                            <button type="button" class="btn right">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                Add
                                </button> </a> 
                        {% endif %}
                    </td></tr>
                </table></td>
                {% else %}
                <td></td>
                {% endif %}
              {%if canEdit %}
              <td>
                <a href="editParam"
                     onclick="window.open(
                        '{% url 'variable_edit' v.id %}',
                        'popup','width=600,height=400'); 
                        return false;">
                    <button type="button" class="btn right">
                        <span class="glyphicon glyphicon-edit"></span>
                        Edit
                    </button>
                </a>
               
              </td>
              {% endif %}
            </tr> 
               
           {% endif %}

        {% empty %} 
            <tr>
                <td>No variables to show</td>
                <td><a href="{% url "createVariables" modele.id 2 %}">Add one</a>
            </tr>
        {% endfor %}
                 {% empty %} 
            <tr>
                <td>No variables to show</td>
                <td><a href="{% url "createVariables" modele.id 2 %}">Add one</a>
            </tr>
     {% endfor %}
            {% if canEdit %}
               <tr><td colspan="5">
                   <a href="" target="popup" 
                             onclick="window.open(
                             '{% url 'createVariables' modele.id 1 %}',
                             'popup','width=600,height=600'); 
                             return false;">
                       <button type="button" class="btn">
                       <span class="glyphicon glyphicon-plus-sign"></span>
                       Add variable 
                       </button></a> 

                    <a href="" target="popup" 
                             onclick="window.open(
                             '{% url 'createFamily' modele.id %}',
                             'popup','width=600,height=600'); 
                             return false;">
                       <button type="button" class="btn">
                       <span class="glyphicon glyphicon-plus-sign"></span>
                       Add family 
                       </button></a> 

               </td></tr>
           {% endif %}

        </table>
    </div>


    <div class="entries">
        <h3>Data entries</h3>
    {% for e in entries %}
        <p>
        Entry made by {{e.auteur}} on {{e.date}} for the context {{e.contexte.nom}}
        <a href="{% url "entry_delete" e.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
            </a>
        </p>
    {%empty%}
    <p>
        No entry made yet for this model.    
        {% if variables|length > 0 and canEdit %}
        <a href="{% url "insererDonnee" modele.id %}">Make an entry</a>
        {% endif %}
    </p>
    {%endfor%}
    </div>

    <div id="contributors">
        <h3>Contributors</h3>
        <p>
        {% for c in contributors %} 
        <span class="contrib"> {{c.user.first_name}} {{c.user.last_name}} as {{c.user}} </span>
        <a href="{% url "delete_contributor" modele.id c.user.id %}">
                    <button type="button" class ="btn right">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
            </a>
        {% empty %}
        No contributors for this model
        {% endfor %}
        </p>
    </div>
    {% if canEdit %}
    <div id="contributorsRequest">
        <h3>Contributor requests</h3>
        <table class="table table-striped table-hover">
        {% for c in contributorRequests %}
        <tr>
            <td> {{c.user.first_name}}</td>
            <td> {{c.user.last_name}}</td>
            <td> as {{c.user}} </td>
            <td><a href="{% url "accept_contributor" modele.id c.user.id %}">
                    <button type="button" class ="btn">
                        <span class="glyphicon glyphicon-user"></span>
                        Accept
                    </button>
            </a></td>
            <td><a href="{% url "delete_contributor" modele.id c.user.id %}">
                    <button type="button" class ="btn">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
            </a></td>
        </tr>
        {% empty %} 
        <tr> <td> No contributors request </td></tr>
        {% endfor %}
        </table>
        </p>
    </div>
    {% endif %}

{% endblock %}
