{%extends "base.html" %}
{%block title %}{{modele.nom}}{% endblock %}
{%  block content %}

<h1> API directives </h1>

<h2> Get </h2>
<h3> Models </h3>
<ul>
    <li><h4> /models </h4>
        <p>&nbspReturns all models </p>
    </li>
    <li><h4> /models/4 </h4>
        <p>&nbsp Returns model of id 4 
            and all its data (context, variables, entry, etc) </p>
    </li>
    <li><h4> /models/geothermie </h4>
        <p>&nbspReturns model geothermie
             and all its data (context, variables, entry, etc) </p>
    </li>
</ul>

<h3> Contexte </h3>
<ul>
    <li><h4> /contexts </h4>
        <p>&nbspReturns all contexts </p>
    </li>
    <li><h4> /contexts/4 </h4>
        <p>&nbspReturns context of id 4 and all its data (variables, entry, etc) </p>
    </li>
    <li><h4> /models/geothermie </h4>
        <p>&nbspReturns model geothermie and
             all its data (context, variables, entry, etc) </p>
    </li>
</ul>
{% endblock %}
