{%extends "base.html" %}
{%block title %}{{modele.nom}}{% endblock %}
{%  block content %}

<h1>{{modele.nom}}<h1>
<h3>Comparison between {{contexte1.nom}} and {{contexte2.nom}}</h3>

<table class="table">
    <tr>
        <th>Families</th>
        <th>Variables</th>
        <th>{{contexte1.nom}}</th>
        <th>{{contexte2.nom}}</th>
        <th>Gap</th>
    </tr> 
   {% for l in lignes %}
    <tr>
        <td></td>
       {%for case in l %}
       <td>{{case}}</td>
       {% endfor %}
    </tr> 
   {% endfor %}
    
</table>


{% endblock %}

        {% for c in contextes %}
        <td>{{c.nom}}<td>
                {% endfor %}
    </tr>
    <tr>
            {% for p in parametres %}
                <tr> 
                <td>{{ p.nom }} </td>
                <td>
                    <table>
                    {% for l in lignes %}
                        <tr>
                        {% for case in l %}
                            <td> {{case}} </td>
                        {% endfor %}
                        </tr> 

                    {% endfor %}
                    </table>
                </td>
            </tr>
            {% endfor %}
        </td>
    </tr>
</table>


