
{%extends "base.html" %}
{% block title %}Creer un nouveau Modele{% endblock %}
{% block content %}
<div class="createForm">
<h1>{{form_title}}</h1>

    {% if envoi %}Votre {{ form_type }} a bien été enregistré !{% endif %}

        {% if submitId %}
        <form action="{% url submitAdress  submitId %}" class="form-group" method="post">
        {% else %}
        <form action="{% url submitAdress %}" class="form-group" method="post">
        {% endif%}
            {% csrf_token %}
            {% if form_type %} <h2>{{form_type}}: </h2> {% endif %}

            {{ form.as_p }}

            {% if formset_title %} <h3>{{formset_title}}:</h3> {% endif %}
            {{ formset.management_form }}
                {% for formx in formset %}
                    <p> {{ formx.as_p }} </p>
                {% endfor %}
            <a href="/maz/listeModeles"><button type="button" class="btn">Back to list</button></a>
            <input type="submit" class="btn" value="Submit" />

        </form>
    </div>
{% endblock %}
