<h1>Servers</h1>
<ul>
        {% for modele in object_list %}
            <li>{{ modele.nom }}  :  
                <a href="{% url "modele_edit" modele.id %}">{{ modele.nom }}</a>
                <a href="{% url "modele_delete" modele.id %}">delete</a>
            </li>
        {% endfor %}
</ul>

<a href="{% url "modele_new" %}">New</a>
