
{%extends "base.html" %}
{% block title %}List of models{% endblock %}
{% block content %}
<div id="modeleList">
    <h1>Models currently in database:</h1>
    <ul>
            {% for modele in object_list %}
            <li><h3>{{ modele.nom }}<small> created by {{modele.createur}} :</small></h3>  
                <a href="{% url "afficherModele" modele.id %}" class="btn">View model</a>
                <p>{{modele.description|truncatewords:100}} </p>
                {% if user == modele.createur %}
                <a href="{% url "modele_delete" modele.id %}">Delete</a>
                {% endif %}
            </li>
            {% endfor %}
    </ul>

    <a href="{% url "createModeleForm" %}">New model</a>
</div>
{% endblock %}

