{%extends "base.html" %}
{% block title %}Creer un nouveau Modele{% endblock %}
{% block content %}
<h1>Modifier un modèle: <b>{{ title }}</b></h1>
<form method="post" class="form-group">{% csrf_token %}
    {{ form.as_p }}

    <div class="panel panel-default">
        <div class="panel-heading">Contextes de {{title}}</div>
        <div class="panel-body">
            {% for c in contextes %}
                <table><tr>
                        <td>{{c.nom}}:&nbsp </td>
                        <td>{{c.description}}</td>
                        <td></td>
                </tr></table>
            {% endfor %}
        </div>
    </div>
    <button type="button" class="btn" onclick="window.close();">Close</button>
    <input type="submit" value="Delete model" />
</form>
{% endblock %}

