{%extends "base.html" %}
{% block title %}Edit parameter family{% endblock %}
{% block content %}
<h1>Edit: <b>{{ title }}</b></h1>
<form method="post" class="form-group">{% csrf_token %}
    {{ form.as_p }}
    <button type="button" class="btn" onclick="window.close();">Close</button>
    <input type="submit" class ="btn" value="Submit" />
</form>
{% endblock %}

