
<div id="actionmenu" class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading"><b>Actions</b></div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                   
            {% if user.is_authenticated %}
                <li><a href="{% url "createModeleForm" %}">
                        Create a new model
                </li></a>
                <li><a href="{% url "userModeles"  %}">
                        View my models
                </li></a>
               {% for lien, adresse in actions.items %}
                <li><a href="{% url adresse.0 adresse.1 %}">{{lien}}</a></li>
               {% endfor %}
            {% else %}<ul>Please login in order to make actions</ul>
            {% endif %}


            </ul>
        </div>
    </div>
</div>


