<!DOCTYPE html>
{% load static %}

<html lang="fr">
    
    <head>
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/pages.css" />
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <title>{% block title %}MazCal{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    
    <body>

        <div id="wrap">
            <div id="main" >
            <nav>
                {% block nav %}
                <a href="{% url "accueil" %}">
                    <header>
                        <h3>MazCalc</h3><h4>Beta</h4>
                    </header>
                </a>
                {% include "topmenu.html" %}
                {% endblock %}
            </nav>

            <div id="page-wrap" class="col-lg-9 col-xl-10">
            <section id="page-content" >
                <div class="">
                    {% block content %}{% endblock %}
                </div>
            </section>
            </div>
                
                {% if actionMenu is True %}
                {% include "actionmenu.html" %}
                {% endif %}

            </div>
        </div>
        <footer class="footer">
            <p><b>&copy; MazCalc 2017</b></p>
            <a href="{%url "api" %}" > See api instructions </a>
        </footer>

    </body>


</html>

                                                      
