{% block nav %}

<div id="login">
    {% if user.is_authenticated %}
        <p> 
        Hi, <b> {{ user.username }}</b> <a href="{%url "logout" %}">Logout</a>
        </p>
    {% else %}
        {% csrf_token %}
        <form action="{% url "connexion" %}" method="post" accept-charset="utf-8">
            <p>Username: </p> <input type="text" class="btn" name="username" >
            <p> Password: </p> <input type="password" class="btn" name="password">
            <input type="submit" class="btn" value="Se connecter">
        </form> 
        <a href="register"><button type="button" class="btn">S'inscrire</button></a>
    {% endif %}
</div>



{% endblock %}
